[Unit]
Description=Deluge, is a BitTorrent client written in Python
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker kill %i-deluge
ExecStartPre=-/usr/bin/docker rm %i-deluge
ExecStart=/usr/bin/docker run -v /opt/deluge/:/config -v /opt/torrents/watch/%i:/watch --env="delugeConfig=/config/%i.yml" --name="%i-deluge" nicholasvmoore/docker-deluge
ExecStop=/usr/bin/docker stop %i-deluge

[Install]
WantedBy=mutli-user.target
